body {
    background-color: #a0c8f0; 
}

h1 {
    text-align: center; 
    font-size: 2.5rem; 
    margin-top: 1rem; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 2rem; 
}

label {
    font-size: 1.2rem; 
    margin-bottom: 0.5rem; 
}

input[type="text"] {
    font-size: 1.2rem; 
    padding: 0.5rem; 
    margin-bottom: 1rem; 
}

button {
    font-size: 1.2rem; 
    padding: 0.5rem 1rem; 
    margin-top: 1rem; 
}

#resultado {
    margin-top: 2rem; 
    font-size: 1.2rem; 
}

#historial {
    margin-top: 2rem; 
    font-size: 1.2rem; 
}